@charset "UTF-8";

/* FONT */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Patua+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&family=Patua+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sora&display=swap);


*{
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
  margin: 2px;
}

#main {
  width: 100%;
  padding: 0;
}

/* Typography */
#main h2 {
  font-family: 'Patua One', cursive;
  font-size: 35px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
  margin-top: -10px;
}

#main h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: black;
}

#main .main_image p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 0;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 50px;
}

/* Section - menu */
#main .menu {
  margin: 0 auto;
}

#main .menu h3 {
  font-size: 25px;
  padding-left: 10px;
  position: absolute;
}

.menu {
  position: relative;
  width: 100%;
}

.menuFixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  border-bottom: 3px double #eee;
  margin: 0 auto;
}

.menu-content {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.menu-content ul {
  width: 100%;
  float: right;
  text-align: right;
}

.menu-content ul li {
  border-left: 1px solid #c0c0c0;
  padding: 0 5px 0 5px;
}

.menu-content ul li:first-child {
  border-left: none;
}

.menu-content li {
  display: inline-block;
  position: relative;
}

.menu-content li a {
  color: #333;
  font-size: 15px;
  font-family: 'Bree Serif', serif;
  display: block;
  padding: 0 20px 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.menu-content li.active a {
  color: #00bbff;
}

.menu-content li a:hover {
  color: #00bbff;
}

/* Section - Parallax */
#main .main_image {
  padding-top: 300px;
  padding-bottom: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 1;
  background: url("../img/beach_1.JPG") no-repeat top center fixed;
  background-attachment: fixed; /* 패럴렉스 */
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_logo {  /* 메인로고 */
  text-align: center;
  margin-top: -210px;
  margin-bottom: 50px;
}

.main_logo img {
  width: 90px;
  height: 90px;
}

.main_image hr{ /* 메인이미지 텍스트 구분선 */
  color: white;
  margin-top: 30px;
  background-color: white;
  width: 200px;
  border: solid 1px white;
}

/* MY_SNS */
.my_sns {
	width: 370px;
	margin: 0 auto;
}

.my_sns>li {
  text-align: center;
	float: left;
	width: 46px;
  height: 40px;
  margin-left: 20.5px;
	margin-right: 70px;
  margin-top: 40px;
}

.my_sns>li:last-child {
  margin-right: 0;
}

.my_sns>li>a>img {
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}

.my_sns>li>a {
  display: block;
	border: 1px solid #fff;
  transform: rotate(45deg);
  border-radius: 5px;
	transition: all 0.6s;
}

.my_sns>li>a:hover {
	background-color: #2b81e3;
	border-color: transparent;
  opacity: .9;
  transition: 0.5s;
}

/* Arrow bounce */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { /* 애니메이션 지속시간의 0 20 50 80 100%일 때 바운스 하지 않음 */
    -moz-transform: translateY(0);  /* 파이어폭스 */
    -ms-transform: translateY(0); /* 익스플로러 */
    -webkit-transform: translateY(0); /* 크롬, 사파리 */
    transform: translateY(0);
  }
  40% { /* 애니메이션 지속시간의 40%일 때 y축으로 40px만큼 바운스 */
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  60% { /* 애니메이션 지속시간의 60%일 때 y축으로 20px만큼 바운스 */
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  background-image: url("../img/arrow_down.png");
  background-size: contain; /* 이미지 가로 세로 비율 유지 */
  z-index: 5;
}

.bounce { /* 2초 간격으로 계속 바운스 */
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* About_me */
#main .about_me {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin-top: 130px;
}

#main .about_me h1 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 50px;
  color: #353535;
  text-align: center;
}

.about_me hr{
  width: 150px;
  border: 2px solid #EAEAEA;
}

#main .about_me .profile {
  display: flex;
  margin-top: 100px;
}

#main .about_me .profile_img {
  margin: 0 auto;
}

.biography {
  margin: 0 auto;
  counter-reset: num; /* 카운터 초기화  */
}

.biography ul li {  /* 글자 설정 */
  font-size: 20px;
  line-height: 40px;
  padding-top: 37px;
}

.biography ul li strong {
  margin: 0 0 0 15px;
}

.biography li:before {  /* 숫자를 감싸는 원 생성 */
  content: counter(num);  /* 숫자 카운터 */
  counter-increment: num 1; /* 카운터 1씩 증가 */
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
}

.biography li:hover:before {
  color: #fff;
  background: #00bbff;
}

/* VISION */
#main .vision {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  margin-top: 100px;
}

#main .vision h1 {
  font-size: 30px;
}

#main .vision p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  color: #6f6f6f;
  line-height: 30px;
  letter-spacing: 1px;
}

#main .vision span {
  font-weight: bold;
}

/* WHAT CAN I DO */
#can_title {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  margin-top: 70px;
  margin-bottom: 50px;
}

#can_title h1 {
  font-size: 30px;
}

#can_contents {
  margin: 0 auto;
  width: 95%;
  height: 1000px;
  background-color: #F6F6F6;
}

#can_contents .title {
  font-family: 'Overpass Mono', monospace;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 15px;
}

#can_contents .title:hover{
  text-shadow: 1px 1.5px 1px rgba(0,0,0, .8);
}

.all_contents {
  width: 70%;
  height: 700px;
  background-color: #fff;
  padding: 40px 30px 40px 30px;
  margin: auto;
}

.can_img {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.can_img img {
  width: 50px;
  height: 50px;
}

.development {
  vertical-align: top;
  width: 33%;
  display: inline-block;
}

.list_development {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13.5px;
	margin-bottom: 50px;
}

.design {
  vertical-align: top;
  width: 33%;
  display: inline-block;
}

.list_design {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13.5px;
	margin-bottom: 170px;
}

.others {
  vertical-align: top;
  width: 33%;
  display: inline-block;
}

.list_others {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13.5px;
	margin-bottom: 250px;
}

/* progress bar */
.container {
  width: 100%;
	height: 100%;
}

.prg_title {
	font-family: 'Sora', sans-serif;
	font-size: 15px;
	padding-left: 2px;
}

.prg_number {
	font-family: 'Bree Serif', serif;
	font-size: 15px;
	float: right;
}

.progress {	/* progress bar 배경 */
  padding: 3px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.progress-bar {
  height: 3px;
  border-radius: 4px;
  transition: 0.4s linear;
}

/* 100% */
.progress-striped_100 .progress-bar {
  background-color: #80ddff;
  width: 100%;	/* 마지막 게이지 표시 */
  background-image: linear-gradient( /* 그라디언트 효과  */
        45deg, transparent 30%,
        rgb(20,200,255) 50%);
  animation: progressAnimationStrike_100 2.5s;	/* 게이지 시간 */
}

@keyframes progressAnimationStrike_100 {	/* 게이지 구간 0~100% */
     from { width: 0 }
     to   { width: 100% }
}

/* 90% */
.progress-striped_90 .progress-bar {
  background-color: #80ddff;
  width: 90%;
  background-image: linear-gradient(
        45deg, transparent 30%,
        rgb(20,200,255) 50%);
  animation: progressAnimationStrike_90 2.5s;
}

@keyframes progressAnimationStrike_90 {
     from { width: 0 }
     to   { width: 90% }
}

/* 80% */
.progress-striped_80 .progress-bar {
  background-color: #80ddff;
  width: 80%;
  background-image: linear-gradient(
        45deg, transparent 30%,
        rgb(20,200,255) 50%);
  animation: progressAnimationStrike_80 2.5s;
}

@keyframes progressAnimationStrike_80 {
     from { width: 0 }
     to   { width: 80% }
}

/* 70% */
.progress-striped_70 .progress-bar {
  background-color: #80ddff;
  width: 70%;
  background-image: linear-gradient(
        45deg, transparent 30%,
        rgb(20,200,255) 50%);
  animation: progressAnimationStrike_70 2.5s;
}

@keyframes progressAnimationStrike_70 {
     from { width: 0 }
     to   { width: 70% }
}

/* 30% */
.progress-striped_30 .progress-bar {
  background-color: #80ddff;
  width: 30%;
  background-image: linear-gradient(
        45deg, transparent 30%,
        rgb(20,200,255) 50%);
  animation: progressAnimationStrike_30 2.5s;
}

@keyframes progressAnimationStrike_30 {
     from { width: 0 }
     to   { width: 30% }
}

/* PERSONALITY */
#per_title {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  margin-top: 70px;
  margin-bottom: 1rem;
}

#per_title h1 {
  font-size: 30px;
}

.progress-circle-container {
	text-align: center;
}

.progress-circle {
  position: relative;
  display: inline-block;
  margin: 2rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ebebeb;
}

.progress-circle:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: colorload 2s;
}

.progress-circle h5 {
	letter-spacing: 3px;
	position: absolute;
	left: 30%;
	top: 100%;
	z-index: 1;
}

.progress-circle span {
  font-size: 1rem;
  color: #8b8b8b;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
}

/* 97% */
.progress-circle.progress-97:after {
  background-image: linear-gradient(70deg, #66b8ff 50%, transparent 50%),
										linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%);
}

/* 96% */
.progress-circle.progress-96:after {
  background-image: linear-gradient(60deg, #66b8ff 50%, transparent 50%),
										linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%);
}

/* 95% */
.progress-circle.progress-95:after {
  background-image: linear-gradient(50deg, #66b8ff 50%, transparent 50%),
										linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%);
}

/* 94% */
.progress-circle.progress-94:after {
  background-image: linear-gradient(40deg, #66b8ff 50%, transparent 50%),
										linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%);
}

@keyframes colorload {	/* 구간 0~360deg */
  0% {
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    transform: rotate(360deg); }
}

/* Certificate */
#cer_title {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 2rem;
}

#cer_title h1 {
  font-size: 30px;
}

.cer_container {	/* Certificate background */
	font-family: 'Noto Sans KR', sans-serif;
	width: 95%;
	height: 850px;
	margin: auto;
	text-align: center;
	background-color: #F6F6F6;
	padding-top: 60px;
}

figure.snip {
	display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  max-width: 300px;
  max-height: 200px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #000;
  font-size: 18px;
  perspective: 50em;
	margin: 0 50px 30px 50px;
}

figure.snip * {
  box-sizing: border-box;
  transition: all 0.6s ease;
}

figure.snip img {
  width: 100%;
  transform-origin: 50% 0%;
}

figure.snip figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  z-index: 1;
  opacity: 0;
  padding: 35px 0px;
}

figure.snip p {
	line-height: 3.5em;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}

figure.snip h5 {
	line-height: 2.5em;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 15px;
}

figure.snip:hover img,
figure.snip.hover img {
  transform: rotateX(-90deg);
  opacity: 0;
}

figure.snip:hover figcaption,
figure.snip.hover figcaption {
  transform: rotateX(0deg);
  opacity: 1;
  transition-delay: 0.2s;
}

/* 200x300 사이즈(snap) */
figure.snap {
	display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  max-width: 200px;
  max-height: 300px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #000;
  font-size: 18px;
  perspective: 50em;
	margin: 30px 50px 30px 50px;
}

figure.snap * {
  box-sizing: border-box;
  transition: all 0.6s ease;
}

figure.snap img {
  width: 100%;
  transform-origin: 0% 50%;
}

figure.snap figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: rotateY(90deg);
  transform-origin: 100% 100%;
  z-index: 1;
  opacity: 0;
  padding: 35px 0px;
}

figure.snap p {
	line-height: 7em;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}

figure.snap h5 {
	line-height: 2.5em;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 15px;
}

figure.snap:hover img,
figure.snap.hover img {
  transform: rotateY(-90deg);
  opacity: 0;
}

figure.snap:hover figcaption,
figure.snap.hover figcaption {
  transform: rotateY(0deg);
  opacity: 1;
  transition-delay: 0.2s;
}

/* PORTFOLIO */
#main .port_title {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin-top: 130px;
	margin-bottom: 80px;
}

#main .port_title h1 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 50px;
  color: #353535;
  text-align: center;
}

.port_title hr{
  width: 150px;
  border: 2px solid #EAEAEA;
}

#portfolio {
	width: 95%;
	height: 3000px;
	margin: auto;
	overflow: hidden;
	background-color: #F6F6F6;
}

#portfolio .inner .pfwrap {
	position: relative;
	height: 500px;
	margin-top: 200px;
}

#portfolio .inner .pfwrap.wrap2 {
	margin-top: 250px;
	margin-left: 50px;
}

#portfolio .inner .pfwrap.wrap3 {
	margin-top: 210px;
}

#portfolio .inner .pfwrap .imgBox {
	position: absolute;
	top: 0;
	width: 60%;
}

#portfolio .inner .pfwrap .imgBox .imgBg {
	width: 100%;
	height: 500px;
}

#portfolio .inner .pfwrap .txtBox {
	position: absolute;
	top: 10px;
}

#portfolio .inner .pfwrap .txtBox .headline {
	font-family: 'Jua', sans-serif;
	font-size: 40px;
	text-align: right;
	margin-top: -90px;
	padding-bottom: 10px;
}

#portfolio .inner .pfwrap .txtBox .lightHeadline {
	font-family: 'Sora', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 16px 0 24px;
	text-align: right;
}

#portfolio .inner .pfwrap.wrap1 .txtBox hr {
	width: 120px;
	height: 1px;
	float: left;
	border: 2px solid #fed7e2;
	background-color: #fed7e2;
}

#portfolio .inner .pfwrap.wrap2 .txtBox hr {
	width: 120px;
	height: 1px;
	float: left;
	border: 2px solid #000030;
	background-color: #000030;
}

#portfolio .inner .pfwrap.wrap3 .txtBox hr {
	width: 120px;
	height: 1px;
	float: left;
	border: 2px solid #000;
	background-color: #000;
}

#portfolio .inner .pfwrap .txtBox .viewport {
	font-family: 'Sora', sans-serif;
	font-size: 18px;
	padding-top: 40px;
	padding-bottom: 20px;
}

#portfolio .inner .pfwrap .txtBox .viewport span {
	font-size: 15px;
	padding-left: 40px;
}

#portfolio .inner .pfwrap .txtBox .palette {
	font-family: 'Sora', sans-serif;
	font-size: 18px;
	padding-bottom: 20px;
}

#portfolio .inner .pfwrap .txtBox .palette .palette_img {
	display: inline-block;
	margin-left: 57px;
}

#portfolio .inner .pfwrap .txtBox .palette .palette_img img {
	width: 20px;
	height: 20px;
	margin-bottom: -3px;
	padding-left: 3px;
}

#portfolio .inner .pfwrap .txtBox .caption {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight: 300;
	margin: 16px 0 35px;
	line-height: 30px;
}

#portfolio .inner .pfwrap .txtBox .pfbtn {
  position: relative;
  width: 200px;
  height: 50px;
	left: 30%;
}

#portfolio .inner .pfwrap .txtBox .pfbtn.btn1 .btnBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50px;
  background: linear-gradient(-90deg,#fbb6ce -50%,#fed7e2 100%);
  transition: width 250ms;
}

#portfolio .inner .pfwrap .txtBox .pfbtn.btn2 .btnBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50px;
  background: linear-gradient(-90deg,#000030 -50%,#3658bf 100%);
  transition: width 250ms;
}

#portfolio .inner .pfwrap .txtBox .pfbtn.btn3 .btnBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50px;
  background: linear-gradient(-90deg,#000 -50%,#5d5d5d 100%);
  transition: width 250ms;
}

#portfolio .inner .pfwrap .txtBox .pfbtn.btn1 a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #000;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
  border-image: linear-gradient(-90deg,#c76fa5 -50%,#fbb6ce 100%);
  border-image-slice: 1;
  transition: all 200ms;
}

#portfolio .inner .pfwrap .txtBox .pfbtn.btn2 a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #000;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
  border-image: linear-gradient(-90deg,#000030 -50%,#3658bf 100%);
  border-image-slice: 1;
  transition: all 200ms;
}

#portfolio .inner .pfwrap .txtBox .pfbtn.btn3 a {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #000;
  line-height: 46px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
  border-image: linear-gradient(-90deg,#000 -50%,#5d5d5d 100%);
  border-image-slice: 1;
  transition: all 200ms;
}

#portfolio .inner .pfwrap .txtBox .pfbtn:hover .btnBg {
	width: 200px;
}

#portfolio .inner .pfwrap .txtBox .pfbtn:hover a {
	color: #fff;
}

#portfolio .inner .pfwrap .imgBox {
	right: 5%;
}

#portfolio .inner .pfwrap .txtBox {
	right: 55%;
}

#portfolio .inner .wrap1 .imgBox .imgBg img {
	width: 700px;
	margin: -100px 0 0 200px;
}

#portfolio .inner .wrap2 .imgBox .imgBg img {
	width: 650px;
	margin: -120px 0 0 200px;
}

#portfolio .inner .wrap3 .imgBox .imgBg img {
	width: 700px;
	margin: -110px 0 0 200px;
}

/* Contact start */
#contact {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin-top: 130px;
	margin-bottom: 40px;
}

#contact h1 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 50px;
  color: #353535;
  text-align: center;
}

#contact hr{
  width: 150px;
  border: 2px solid #EAEAEA;
}

.info_me {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	text-align: center;
}

.contact_contents {
	background-color: #F6F6F6;
	width: 100%;
	height: 370px;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}

.mycontact ul {
	font-family: 'Jua', sans-serif;
	padding-top: 20px;
}

.mycontact ul li {
	line-height: 50px;
	font-size: 25px;
}

.mycontact ul li img {
	width: 15px;
	height: 15px;
	padding-right: 10px;
}

.sendmail {
	font-family: 'Overpass Mono', monospace;
	font-size: 16px;
}

.sendmail:hover {
	text-decoration: underline;
}

.sendmail a li img {
	width: 50px;
	height: 50px;
}

/* Footer */
.footer {
	width: 100%;
	background: #3c3c3c;
	margin-top: 50px;
}

.footer .logo {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	padding-top: 50px;
}

.footer .logo img {
	width: 50px;
	height: 50px;
	opacity: .5;
}

.footer .current {
	text-align: center;
	color: #BDBDBD;
	margin-top: 20px;
	line-height: 40px;
}

.footer .current .date {
	font-family: 'Bree Serif', serif;
	font-size: 22px;
}

.footer .current .clock {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 32px;
}

.footer .copyright {
	width: 100%;
	margin: 0 auto;
	position: relative;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
	color: #a4a4a4;
	padding: 30px 0 30px;
}
