@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap);

#main {
  width: 100%;
  padding: 0;
}

/* Typography */
#main h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 20px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
}

#main h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: black;
}

#main p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* Section - menu */
#main .menu {
  margin: 0 auto;
}

#main .menu h3 {
  font-size: 30px;
  padding-left: 20px;
  position: absolute;
}

.menu {
  position: relative;
  width: 100%;
}

.menu-content {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.menu-content ul {
  width: 100%;
  float: right;
  text-align: right;
  list-style: none;
}

.menu-content ul li {
  border-left: 1px solid #c0c0c0;
  padding: 0 5px 0 5px;
}

.menu-content ul li:first-child {
  border-left: none;
}

.menu-content li {
  display: inline-block;
  position: relative;
}

.menu-content li a {
  color: #333;
  font-size: 21px;
  font-family: 'Bree Serif', serif;
  display: block;
  padding: 0 20px 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.menu-content li.active a {
  color: #00bbff;
}

.menu-content li a:hover {
  color: #00bbff;
}

/* Section - Parallax */
#main .main_image {
  padding-top: 300px;
  padding-bottom: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("../img/beach_1.JPG");
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}/* Arrow bounce */@keyframes bounce {  0%, 20%, 50%, 80%, 100% { /* 애니메이션 지속시간의 0 20 50 80 100%일 때 바운스 하지 않음 */    -moz-transform: translateY(0);  /* 파이어폭스 */    -ms-transform: translateY(0); /* 익스플로러 */    -webkit-transform: translateY(0); /* 크롬, 사파리 */    transform: translateY(0);  }  40% { /* 애니메이션 지속시간의 40%일 때 y축으로 40px만큼 바운스 */    -moz-transform: translateY(-40px);    -ms-transform: translateY(-40px);    -webkit-transform: translateY(-40px);    transform: translateY(-40px);  }  60% { /* 애니메이션 지속시간의 60%일 때 y축으로 20px만큼 바운스 */    -moz-transform: translateY(-20px);    -ms-transform: translateY(-20px);    -webkit-transform: translateY(-20px);    transform: translateY(-20px);  }}.arrow {  position: absolute;  bottom: 0;  left: 50%;  margin-left: -20px;  width: 40px;  height: 40px;  background-image: url("../img/arrow_down.png");  background-size: contain; /* 이미지 가로 세로 비율 유지 */}.bounce { /* 2초 간격으로 계속 바운스 */  -moz-animation: bounce 2s infinite;  -webkit-animation: bounce 2s infinite;  animation: bounce 2s infinite;}
