@charset "UTF-8";

/* FONT */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Patua+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&family=Patua+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap);

*{
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
  margin: 2px;
}

#main {
  width: 100%;
  padding: 0;
}

/* Typography */
#main h2 {
  font-family: 'Patua One', cursive;
  font-size: 35px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
  margin-top: -10px;
}

#main h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: black;
}

#main .main_image p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 0;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 50px;
}

/* Section - menu */
#main .menu {
  margin: 0 auto;
}

#main .menu h3 {
  font-size: 25px;
  padding-left: 10px;
  position: absolute;
}

.menu {
  position: relative;
  width: 100%;
}

.menuFixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  border-bottom: 3px double #eee;
  margin: 0 auto;
}

.menu-content {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.menu-content ul {
  width: 100%;
  float: right;
  text-align: right;
}

.menu-content ul li {
  border-left: 1px solid #c0c0c0;
  padding: 0 5px 0 5px;
}

.menu-content ul li:first-child {
  border-left: none;
}

.menu-content li {
  display: inline-block;
  position: relative;
}

.menu-content li a {
  color: #333;
  font-size: 15px;
  font-family: 'Bree Serif', serif;
  display: block;
  padding: 0 20px 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.menu-content li.active a {
  color: #00bbff;
}

.menu-content li a:hover {
  color: #00bbff;
}

/* Section - Parallax */
#main .main_image {
  padding-top: 300px;
  padding-bottom: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 1;
  background: url("../img/beach_1.JPG") no-repeat top center fixed;
  background-attachment: fixed; /* 패럴렉스 */
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_logo {  /* 메인로고 */
  text-align: center;
  margin-top: -210px;
  margin-bottom: 50px;
}

.main_logo img {
  width: 90px;
  height: 90px;
}

.main_image hr{ /* 메인이미지 텍스트 구분선 */
  color: white;
  margin-top: 30px;
  background-color: white;
  width: 200px;
  border: solid 1px white;
}

/* MY_SNS */
.my_sns {
	width: 370px;
	margin: 0 auto;
}

.my_sns>li {
  text-align: center;
	float: left;
	width: 46px;
  height: 40px;
  margin-left: 20.5px;
	margin-right: 70px;
  margin-top: 40px;
}

.my_sns>li:last-child {
  margin-right: 0;
}

.my_sns>li>a>img {
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}

.my_sns>li>a {
  display: block;
	border: 1px solid #fff;
  transform: rotate(45deg);
  border-radius: 5px;
	transition: all 0.6s;
}

.my_sns>li>a:hover {
	background-color: #2b81e3;
	border-color: transparent;
  opacity: .9;
  transition: 0.5s;
}

/* Arrow bounce */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { /* 애니메이션 지속시간의 0 20 50 80 100%일 때 바운스 하지 않음 */
    -moz-transform: translateY(0);  /* 파이어폭스 */
    -ms-transform: translateY(0); /* 익스플로러 */
    -webkit-transform: translateY(0); /* 크롬, 사파리 */
    transform: translateY(0);
  }
  40% { /* 애니메이션 지속시간의 40%일 때 y축으로 40px만큼 바운스 */
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  60% { /* 애니메이션 지속시간의 60%일 때 y축으로 20px만큼 바운스 */
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  background-image: url("../img/arrow_down.png");
  background-size: contain; /* 이미지 가로 세로 비율 유지 */
  z-index: 5;
}

.bounce { /* 2초 간격으로 계속 바운스 */
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* About_me */
#main .about_me {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin-top: 130px;
}

#main .about_me h1 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 50px;
  color: #353535;
  text-align: center;
}

.about_me hr{
  width: 150px;
  border: 2px solid #EAEAEA;
}

#main .about_me .profile {
  display: flex;
  margin-top: 100px;
}

#main .about_me .profile_img {
  margin: 0 auto;
}

.biography {
  margin: 0 auto;
  counter-reset: num; /* 카운터 초기화  */
}

.biography ul li {  /* 글자 설정 */
  font-size: 20px;
  line-height: 40px;
  padding-top: 37px;
}

.biography ul li strong {
  margin: 0 0 0 15px;
}

.biography li:before {  /* 숫자를 감싸는 원 생성 */
  content: counter(num);  /* 숫자 카운터 */
  counter-increment: num 1; /* 카운터 1씩 증가 */
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
}

.biography li:hover:before {
  color: #fff;
  background: #00bbff;
}

/* VISION */
#main .vision {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  margin-top: 100px;
}

#main .vision h1 {
  font-size: 30px;
}

#main .vision p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  color: #6f6f6f;
  line-height: 30px;
  letter-spacing: 1px;
}

#main .vision span {
  font-weight: bold;
}

/* WHAT CAN I DO */
#can_title {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  margin-top: 70px;
  margin-bottom: 50px;
}

#can_title h1 {
  font-size: 30px;
}

#can_contents {
  margin: 0 auto;
  width: 95%;
  height: 1000px;
  background-color: #F6F6F6;
}

#can_contents .title {
  font-family: 'Overpass Mono', monospace;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 15px;
}

#can_contents .title:hover{
  text-shadow: 1px 1.5px 1px rgba(0,0,0, .8);
}

.all_contents {
  width: 70%;
  height: 700px;
  background-color: #fff;
  padding: 40px 30px 40px 30px;
  margin: auto;
}

.list_1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13.5px;
}

.development {
  vertical-align: top;
  width: 33%;
  display: inline-block;
}

.design {
  vertical-align: top;
  width: 33%;
  display: inline-block;
}

.others {
  vertical-align: top;
  width: 33%;
  display: inline-block;
}